<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Calendar-Mapper">
	<resultMap type="calendar" id="calendarMap">
		<result property="start" column="sdate" />
		<result property="end" column="edate" />
	</resultMap>
<sql id="catecode">
		<if test="catecode1 == '1'.toString()">
			and ccode in (select ccode
			from calendar
			where eno = #{eno}
			and catecode = 1
			and title like '%'||#{keyword}||'%')
			<if test="catecode2 == '2'.toString()">
				or ccode in (select ccode
				from calendar a, employee b ,(select a.dno
				from employee a, department b
				where a.dno = b.dno
				and a.eno = #{eno}) c
				where a.eno = b.eno
				and b.dno = c.dno
				and a.catecode = 2
				and title like '%'||#{keyword}||'%')
			</if>
			<if test="catecode3 == '3'.toString()">
				or catecode = 3
				and title like '%'||#{keyword}||'%'
			</if>
		</if>
		<if test="catecode2 == '2'.toString()">
			and ccode in (select ccode
			from calendar a, employee b ,(select a.dno
			from employee a, department b
			where a.dno = b.dno
			and a.eno = #{eno}) c
			where a.eno = b.eno
			and b.dno = c.dno
			and a.catecode = 2
			and title like '%'||#{keyword}||'%')
			<if test="catecode3 == '3'.toString()">
				or catecode = 3
				and title like '%'||#{keyword}||'%'
			</if>
		</if>
		<if test="catecode3 == '3'.toString()">
			and catecode = 3
			and title like '%'||#{keyword}||'%'
		</if>
		<if
			test="catecode1 == '4'.toString() and catecode2 == '4'.toString() and catecode3 == '4'.toString()">
			and catecode = 4
		</if>
	</sql>
  
	

	<!-- 목록 조회 -->
	<select id="selectSearchCalendarList" resultMap="calendarMap">
		select
		ccode
		,catecode
		,title
		,content
		,TO_char(sdate, 'YYYY-MM-DD"T"HH24:MI:SS') sdate
		,TO_char(edate, 'YYYY-MM-DD"T"HH24:MI:SS') edate
		,eno
		,color
		,catedetail
		from calendar
		where ccode is not null
	
	</select>

	<!-- 일정 단건 조회 -->
	<select id="selectCalendarByCcode" resultMap="calendarMap">
		SELECT
		ccode
		,catecode
		,title
		,content
		,TO_char(sdate,'YYYY-MM-DD"T"HH24:MI:SS') sdate
		,TO_char(edate,'YYYY-MM-DD"T"HH24:MI:SS') edate
		,eno
		,color
		,catedetail
		from calendar
		where ccode = #{ccode}
		
	</select>


	<!-- 일정 등록 -->
	<update id="insertCalendar" parameterType="calendar">
		insert into calendar (
		ccode
		,catecode
		,title
		,content
		,sdate
		,edate
		,eno
		,color
		,catedetail
		)
		values (#{ccode},#{catecode},#{title},#{content},#{sdate},#{edate},#{eno},#{color},#{catedetail})
	</update>

	<!-- 일정 수정 -->
	<update id="updateCalendar" parameterType="calendar">
		update calendar
		set title=#{title}, content=#{content}, sdate=#{sdate}, edate=#{edate}
		where ccode=#{ccode}
	</update>

	<!-- 일정 삭제 -->
	<update id="deleteCalendar" parameterType="str">
		delete
		from calendar
		where ccode=#{ccode}
	</update>

	<!-- 일정 고유번호 생성 -->
	<select id="selectCcode" resultType="str">
		select 'CA' ||
		trim(nvl(max(to_char(to_number(substr(ccode,3))+1,'000000')),'000001'))
		as ccode
		from calendar union

		select nvl(null,'CA000001') as ccode
		from dual
		where not exists (select ccode from calendar)
	</select>

	<!-- 내 부서원 eno 전체 조회 -->
	<select id="selectEnoSameMyDno" resultType="int">
		select a.eno
		from employee a, (select a.dno from department a, employee b where a.dno = b.dno and b.eno = #{eno}) b
		where a.dno = b.dno
	</select>

	<!-- 전 사원 eno 조회 -->
	<select id="selectAllEmployee" resultType="int">
		select eno
		from employee
	</select>

</mapper>