<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginUserLog-Mapper">

	<update id="insertLoginUserLog">
		insert into login_Log(eno,phone,email,indate)
		values(#{eno},#{phone},#{email},#{indate})
	</update>
	
	<update id="deleteLoginUserLog">
		delete from login_Log
	</update>
	
	
</mapper>




