<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
  <Properties>
    <Property name="logNm">log_pattern_Layout</Property>
    <Property name="layoutPattern">[%d{ISO8601}][%5p] [%c{4}]: %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="${layoutPattern}" />
    </Console>

    <RollingRandomAccessFile
        name="rolling_log"
        fileName="./logs/file.log"
        filePattern="./logs/pjt/pjt-%d{yyyy-MM-dd_HH}_%i.log"
        immediateFlush="false" append="true" ignoreExceptions="false">
      <PatternLayout pattern="${layoutPattern}" />
      <Policies>
        <!-- 30MB 초과 시 롤링 -->
        <SizeBasedTriggeringPolicy size="30 MB"/>
        <!-- 매시간/매일(설정에 따라) 롤링 -->
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>

    <!-- 파일 롤링을 비동기로 처리 -->
    <Async name="async_log" includeLocation="true">
      <AppenderRef ref="rolling_log"/>
    </Async>
  </Appenders>

  <Loggers>
    <!-- 스프링 -->
    <Logger name="org.springframework" level="INFO" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="async_log"/>
    </Logger>

    <!-- MyBatis 코어 로그 -->
    <Logger name="org.mybatis" level="INFO"><AppenderRef ref="console"/></Logger>
    <Logger name="org.apache.ibatis" level="INFO"><AppenderRef ref="console"/></Logger>

    <!-- (선택) log4jdbc: 바인딩된 최종 SQL 보려면 DEBUG 유지 -->
    <Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="async_log"/>
    </Logger>
    <Logger name="jdbc.sqltiming" level="OFF"/>
    <Logger name="jdbc.audit" level="OFF"/>
    <Logger name="jdbc.resultsettable" level="OFF"/>

    <!-- (선택) 각 Mapper 네임스페이스별 로그 -->
    <Logger name="Work-Mapper" level="DEBUG"><AppenderRef ref="console"/></Logger>
    <Logger name="workManager-Mapper" level="DEBUG"><AppenderRef ref="console"/></Logger>
    <Logger name="workReply-Mapper" level="DEBUG"><AppenderRef ref="console"/></Logger>

    <!-- 기본 루트 로거 -->
    <Root level="ERROR">
      <AppenderRef ref="console"/>
      <AppenderRef ref="async_log"/>
    </Root>
  </Loggers>
</Configuration>
